body {
  /* Everything is Raleway */
  font-family: 'Raleway', sans-serif;
}
/* Except we're using more specific rules to override the headlines */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}
/* And the "logo" */
.jumbotron {
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
}